html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #ff3f3f;
}
a:hover {
  color: #fff;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
body {
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #2f2f2f; */
  color: #fff;
  overflow-x: hidden;
}
.h1 {
    background-color: green;
}
ul {
  list-style: none;
}
header {
  padding: 20px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #121212;
  color: #fff;
}
main {
  min-height: 100vh;
}
header h1 {
  z-index: 2;
}
header h1 a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
header h1 a {
  color: #fff;
}
header h1 a img {
  border-radius: 50%;
}
header nav .ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.link-trigger {
  background-color: #fff;
  padding: 10px 20px;
  color: #121212;
}
.link-trigger-list {
  background-color: #555;
  color: #fff;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  display: none;
  opacity: 0;
  height: 0px;
  transition: all 200ms;
}
.link-trigger-list.triggered {
  display: block;
  opacity: 1;
  height: fit-content;
}
.hamburger {
  width: 50px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  display: none;
}
.hamburger span {
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  transition: all 800ms;
}
.hamburger span.active:nth-child(1) {
  transform: rotate(45deg) translateY(10px);
}
.hamburger span.active:nth-child(2) {
  transform: rotate(-45deg) translateY(-10px);
}
.hamburger span.active:nth-child(3) {
  opacity: 0;
}
.home-main .landing {
  /* padding: 20px 150px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  gap: 10px;
  animation: background-animation 20s ease-in-out infinite;
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1.3s;
}
.home-main .landing button {
  padding: 15px 30px;
  border-radius: 15px;
}
.solved {
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.solved h1 {
  text-align: center;
}
.solved ul {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.solved ul li {
  background-color: #fff;
  box-shadow: 10px 10px 20px #121212;
  cursor: pointer;
  width: 100%;
  color: #121212;
  padding: 10px 20px;
  border-radius: 30px;
}
.solved ul li .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.solved ul li .key {
  display: none;
}
.solved ul li .key.opened {
  display: block;
}
.solved ul li a:hover {
  color: #121212;
}
.games,
.roblox-container,
.freefire-container {
  text-align: center;
  background-color: #1d1d1d;
  min-height: 100vh;
  width: 100vw;
}
.freefire-container,
.roblox-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px 150px;
}
.freefire,
.roblox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.freefire .freefireitem,
.roblox .robloxitem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #2d2d2d;
  border-radius: 10px;
}
.freefire .freefireitem img,
.roblox .robloxitem img {
  aspect-ratio: 1/1;
}
.freefire .freefireitem .down,
.roblox .robloxitem .down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.freefire .freefireitem .down .question,
.roblox .robloxitem .down .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.freefire .freefireitem .down .question .price,
.roblox .robloxitem .down .question .price {
  display: flex;
}
.freefire .freefireitem .down .question .price span,
.roblox .robloxitem .down .question .price span {
  text-decoration: double line-through;
}
.freefire .freefireitem .link-btn,
.roblox .robloxitem .link-btn {
  width: 100%;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #fff;
  color: #121212;
}
.freefire .freefireitem .link-btn .btn,
.roblox .robloxitem .link-btn .btn {
    background: transparent;
}
@keyframes background-animation {
  0% {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
      url("/roblox.png");
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
      url("/pbug.png");
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
      url("/freefiretwo.png");
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75% {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
      url("/callofduty.png");
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
      url("/freefire.png");
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@keyframes lazy-load {
  to {
    opacity: 1;
  }
}
@media (max-width: 800px) {
  header, .freefire-container, .roblox-container {
    padding: 20px 50px;
  }
}
@media (max-width: 600px) {
  header {
    padding: 20px 50px;
  }
  .hamburger {
    display: flex;
  }
  nav {
    position: absolute;
    left: -100vw;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #121212;
    height: 100vh;
    transition: all 800ms;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav.active {
    left: 0;
  }
  .home-main .landing p {
    width: 100%;
  }
  .solved {
    padding: 10px;
  }
  .solved ul {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .freefire, .roblox {
    flex-direction: column;
    padding: 20px;
  }
  header {
    gap: 10px;
    padding: 20px;
  }
}
